* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

body {
    background-color: #3c3c3c;
    color: #fce4ec;
    accent-color: #3949ab;
    padding: 2em;
}

/* ==== HEADER ====== */

header {
    display: flex;
    flex-direction: row;
}

.tittle {
    flex: 1;
    text-align: center;
    margin-right: 2em;
}

.tittle hr {
    margin: 0.2em auto;
    width: 50%;
}

.btn-back {
    background-color: #2c42d1;
    color: white;
    border: none;
    padding: 0.5em 1em;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: all 0.5s;
}

.btn-back:hover {
    transform:  scale(1.1);
}

/* ==== MAIN ==== */

.character {
    display: flex;
    flex-direction: row;
    margin-top: 2em;
}

/* === Character Img == */

.character-img img {
    border: 2px solid #fce4ec;
    box-shadow: 3px 0px 3px 2px #fce4ec;
    width: 15rem;
    height: auto;
}

/* === Character info === */

.character-info {
    float: right;
    margin-left: 1rem;
}

/* == Character Bio == */

.character-bio {
    border: 1px solid #fce4ec;
    box-shadow: 3px 0px 3px 2px #fce4ec;
    padding: 0.7rem;
}

.char-detail {
    display: flex;
    gap: 1rem;
    white-space: pre-line;
}

/* == Character Personality == */

.character-personality {
    border: 1px solid #fce4ec;
    box-shadow: 3px 0px 3px 2px #fce4ec;
    margin-top: 0.5rem;
    padding: 0.7rem;
}