* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,h5{
    text-align: center;
}

h5{
    font-weight: 300;
}

hr{
    margin: 0.2em 0;
    width: 30%;
}

section {
    padding: 0.7em;
    margin: 0.5em;
}

.Characters h3{
    padding: 10px;
}

.Char {
    display: flex;
    justify-content: space-evenly;
}

.Char img{
    display: inline;
    width: 10em;
}

.Char img:hover{
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}