* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

body {
    background-color: #3c3c3c;
    color: #fce4ec;
    accent-color: #3949ab;
    padding: 2em;
}

h1,
h5 {
    text-align: center;
}

h5 {
    font-weight: 300;
}

h5 a {
    color: #fce4ec;
    text-decoration: none;
}

hr {
    margin: 0.2em 0;
    width: 30%;
}

section {
    padding: 0.7em;
    margin: 0.5em;
}

.Characters h3 {
    padding: 10px;
}

.Char {
    display: flex;
    justify-content: space-evenly;
    margin-top: 0.5rem;
}

.Char img {
    display: inline;
    width: 10em;
}

#Gotoh:hover {
    border: 2px solid #fce4ec;
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}

#nijika:hover {
    border: 2px solid #f3d365;
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}

#ryo:hover {
    border: 2px solid #3a62a8;
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}

#ikuyo:hover {
    border: 2px solid #e04d59;
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}